@import "tailwindcss";

@theme {
    --color-primary:#008BF8;
    --color-secondary: #CC0041;
    --color-accent: hsl(0, 0%, 92%);
    --color-primary-dark: #193261;
    --color-secondary-dark: #8E0045;
}

